{{ define "main" }}
<dl class="row">
  <dt class="col-sm-2">Reino</dt>
  <dd class="col-sm-10">{{ with .Params.reinos }}{{ index . 0 }}{{ end }}</dd>
  <dt class="col-sm-2">Dvisión</dt>
  <dd class="col-sm-10">{{ with .Params.divisiones }}{{ index . 0 }}{{ end }}</dd>
  <dt class="col-sm-2">Clase</dt>
  <dd class="col-sm-10">{{ with .Params.clases }}{{ index . 0 }}{{ end }}</dd>
  <dt class="col-sm-2">Órden</dt>
  <dd class="col-sm-10">{{ with .Params.ordenes }}{{ index . 0 }}{{ end }}</dd>
  <dt class="col-sm-2">Familia</dt>
  <dd class="col-sm-10">{{ with .Params.familias }}{{ index . 0 }}{{ end }}</dd>
  <dt class="col-sm-2">Género</dt>
  <dd class="col-sm-10">{{ with .Params.generos }}{{ index . 0 }}{{ end }}</dd>
  <dt class="col-sm-2">Nombre científico</dt>
  <dd class="col-sm-10">{{ with .Params.nombre_cientifico }}{{ . }}{{ end }}</dd>
  <dt class="col-sm-2">Nombre común</dt>
  <dd class="col-sm-10">{{ with .Params.nombre_comun }}{{ . }}{{ end }}</dd>
  <dt class="col-sm-2">Nombre en inglés</dt>
  <dd class="col-sm-10">{{ with .Params.nombre_ingles }}{{ . }}{{ end }}</dd>
  <dt class="col-sm-2">Código</dt>
  <dd class="col-sm-10">{{ partial "code.html" . }}
    <br/><br/>
    <button class="btn btn-primary  btn-sm" data-clipboard-text="{{ partial "code.html" . }}">
      Copiar código
    </button>
  </dd>
</dl>
<script type="text/javascript">
new Clipboard('.btn');
</script>
{{ end }}
