<tr>
  <td>{{ with .Params.nombre_cientifico }}{{ . }}{{ end }}</td>
  <td>{{ with .Params.reinos }}{{ index . 0 }}{{ end }}</td>
  <td>{{ with .Params.divisiones }}{{ index . 0 }}{{ end }}</td>
  <td>{{ with .Params.clases }}{{ index . 0 }}{{ end }}</td>
  <td>{{ with .Params.ordenes }}{{ index . 0 }}{{ end }}</td>
  <td>{{ with .Params.familias }}{{ index . 0 }}{{ end }}</td>
  <td>{{ with .Params.generos }}{{ index . 0 }}{{ end }}</td>
  <td>
    <a href="{{ .Permalink }}">{{ .Params.especie }}</a>
    <br/>
  </td>
  <td>{{ with .Params.nombre_comun }}{{ . }}{{ end }}</td>
  <td>{{ with .Params.nombre_ingles }}{{ . }}{{ end }}</td>
  <td>{{ with .Params.nombre_cientifico }}{{ . }}{{ end }}, {{ with .Params.nombre_ingles }}{{ . }}{{ end }}, {{ with .Params.nombre_comun }}{{ . }}{{ end }}</td>
  <td>
    <button class="btn btn-sm btn-primary" data-clipboard-text="{{ partial "code.html" . }}">
      CC
    </button>
  </td>
</tr>
